body {
    background-color: #6A0DAD;
    /* Purple */
    color: #228B22;
    /* Green */
    font-family: 'Georgia', serif;
}

header {
    background-color: #FFD700;
    /* Gold */
    color: #6A0DAD;
    /* Purple text for contrast */
    text-align: center;
    padding: 10px;
    font-size: 43px;
    font-style: oblique;
}

main {
    background-color: #FFF;
    /* White main content */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    /* Subtle shadow */
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #6A0DAD;
    /* Purple headers for emphasis */
    text-decoration: underline;
    padding: 15px;
    text-transform: capitalize;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p {
    font-size: 18px;
    line-height: 1.4;
    margin-left: auto;
    margin-right: auto;
}

ul {
    margin: 15px;
    list-style-type: square;
}